# This .gitignore file is intended to be minimal.
#
# If you find that you need additional rules, such as IDE temporary
# files, please do so either via a global .gitignore file (registered
# with core.excludesFile), or by adding private repository-specific
# rules to .git/info/exclude.  See https://git-scm.com/docs/gitignore
# for more information.

# Build directories
build/
build-*/
docs/genrst/

# Test failure outputs
tests/results/*

# Python cache files
__pycache__/

# Customized Makefile/project overrides
GNUmakefile
user.props

# MacOS desktop metadata files
.DS_Store
ports/rp2/pico-sdk/cmake_install.cmake
ports/rp2/pico-sdk/Makefile
ports/rp2/pico-sdk/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/CMakeFiles/progress.marks
ports/rp2/pico-sdk/docs/cmake_install.cmake
ports/rp2/pico-sdk/docs/Makefile
ports/rp2/pico-sdk/docs/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/docs/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/cmake_install.cmake
ports/rp2/pico-sdk/src/Makefile
ports/rp2/pico-sdk/src/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/cmake_install.cmake
ports/rp2/pico-sdk/src/common/Makefile
ports/rp2/pico-sdk/src/common/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/boot_picoboot/cmake_install.cmake
ports/rp2/pico-sdk/src/common/boot_picoboot/Makefile
ports/rp2/pico-sdk/src/common/boot_picoboot/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/boot_picoboot/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/boot_uf2/cmake_install.cmake
ports/rp2/pico-sdk/src/common/boot_uf2/Makefile
ports/rp2/pico-sdk/src/common/boot_uf2/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/boot_uf2/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/pico_base/cmake_install.cmake
ports/rp2/pico-sdk/src/common/pico_base/Makefile
ports/rp2/pico-sdk/src/common/pico_base/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/pico_base/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/pico_binary_info/cmake_install.cmake
ports/rp2/pico-sdk/src/common/pico_binary_info/Makefile
ports/rp2/pico-sdk/src/common/pico_binary_info/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/pico_binary_info/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/pico_bit_ops/cmake_install.cmake
ports/rp2/pico-sdk/src/common/pico_bit_ops/Makefile
ports/rp2/pico-sdk/src/common/pico_bit_ops/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/pico_bit_ops/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/pico_divider/cmake_install.cmake
ports/rp2/pico-sdk/src/common/pico_divider/Makefile
ports/rp2/pico-sdk/src/common/pico_divider/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/pico_divider/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/pico_stdlib/cmake_install.cmake
ports/rp2/pico-sdk/src/common/pico_stdlib/Makefile
ports/rp2/pico-sdk/src/common/pico_stdlib/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/pico_stdlib/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/pico_sync/cmake_install.cmake
ports/rp2/pico-sdk/src/common/pico_sync/Makefile
ports/rp2/pico-sdk/src/common/pico_sync/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/pico_sync/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/pico_time/cmake_install.cmake
ports/rp2/pico-sdk/src/common/pico_time/Makefile
ports/rp2/pico-sdk/src/common/pico_time/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/pico_time/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/pico_usb_reset_interface/cmake_install.cmake
ports/rp2/pico-sdk/src/common/pico_usb_reset_interface/Makefile
ports/rp2/pico-sdk/src/common/pico_usb_reset_interface/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/pico_usb_reset_interface/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/common/pico_util/cmake_install.cmake
ports/rp2/pico-sdk/src/common/pico_util/Makefile
ports/rp2/pico-sdk/src/common/pico_util/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/common/pico_util/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2040/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2040/Makefile
ports/rp2/pico-sdk/src/rp2040/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2040/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2040/hardware_regs/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2040/hardware_regs/Makefile
ports/rp2/pico-sdk/src/rp2040/hardware_regs/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2040/hardware_regs/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2040/hardware_structs/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2040/hardware_structs/Makefile
ports/rp2/pico-sdk/src/rp2040/hardware_structs/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2040/hardware_structs/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/Makefile
ports/rp2/pico-sdk/src/rp2_common/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/Makefile
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/build.make
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/cmake_clean.cmake
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/compiler_depend.make
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/compiler_depend.ts
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/depend.make
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/DependInfo.cmake
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/flags.make
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/link.txt
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/progress.make
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_bin.dir/build.make
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_bin.dir/cmake_clean.cmake
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_bin.dir/compiler_depend.make
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_bin.dir/compiler_depend.ts
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_bin.dir/DependInfo.cmake
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_bin.dir/progress.make
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_padded_checksummed_asm.dir/build.make
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_padded_checksummed_asm.dir/cmake_clean.cmake
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_padded_checksummed_asm.dir/compiler_depend.make
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_padded_checksummed_asm.dir/compiler_depend.ts
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_padded_checksummed_asm.dir/DependInfo.cmake
ports/rp2/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_padded_checksummed_asm.dir/progress.make
ports/rp2/pico-sdk/src/rp2_common/cmsis/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/cmsis/Makefile
ports/rp2/pico-sdk/src/rp2_common/cmsis/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/cmsis/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_adc/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_adc/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_adc/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_adc/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_base/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_base/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_base/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_base/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_claim/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_claim/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_claim/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_claim/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_clocks/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_clocks/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_clocks/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_clocks/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_divider/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_divider/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_divider/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_divider/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_dma/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_dma/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_dma/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_dma/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_exception/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_exception/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_exception/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_exception/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_flash/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_flash/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_flash/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_flash/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_gpio/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_gpio/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_gpio/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_gpio/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_i2c/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_i2c/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_i2c/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_i2c/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_interp/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_interp/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_interp/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_interp/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_irq/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_irq/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_irq/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_irq/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_pio/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_pio/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_pio/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_pio/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_pll/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_pll/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_pll/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_pll/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_pwm/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_pwm/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_pwm/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_pwm/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_resets/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_resets/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_resets/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_resets/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_rtc/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_rtc/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_rtc/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_rtc/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_spi/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_spi/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_spi/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_spi/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_sync/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_sync/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_sync/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_sync/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_timer/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_timer/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_timer/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_timer/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_uart/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_uart/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_uart/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_uart/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_vreg/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_vreg/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_vreg/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_vreg/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_watchdog/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_watchdog/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_watchdog/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_watchdog/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/hardware_xosc/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_xosc/Makefile
ports/rp2/pico-sdk/src/rp2_common/hardware_xosc/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/hardware_xosc/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_async_context/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_async_context/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_async_context/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_async_context/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_bit_ops/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_bit_ops/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_bit_ops/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_bit_ops/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_bootrom/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_bootrom/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_bootrom/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_bootrom/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_bootsel_via_double_reset/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_bootsel_via_double_reset/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_bootsel_via_double_reset/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_bootsel_via_double_reset/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_btstack/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_btstack/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_btstack/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_btstack/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_cxx_options/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_cxx_options/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_cxx_options/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_cxx_options/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_cyw43_arch/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_cyw43_arch/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_cyw43_arch/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_cyw43_arch/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_cyw43_driver/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_cyw43_driver/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_cyw43_driver/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_cyw43_driver/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_divider/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_divider/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_divider/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_divider/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_double/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_double/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_double/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_double/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_fix/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_fix/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_fix/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_fix/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_fix/rp2040_usb_device_enumeration/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_fix/rp2040_usb_device_enumeration/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_fix/rp2040_usb_device_enumeration/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_fix/rp2040_usb_device_enumeration/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_flash/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_flash/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_flash/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_flash/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_float/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_float/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_float/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_float/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_i2c_slave/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_i2c_slave/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_i2c_slave/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_i2c_slave/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_int64_ops/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_int64_ops/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_int64_ops/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_int64_ops/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_lwip/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_lwip/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_lwip/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_lwip/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_malloc/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_malloc/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_malloc/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_malloc/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_mbedtls/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_mbedtls/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_mbedtls/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_mbedtls/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_mem_ops/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_mem_ops/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_mem_ops/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_mem_ops/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_multicore/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_multicore/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_multicore/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_multicore/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_platform/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_platform/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_platform/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_platform/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_printf/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_printf/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_printf/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_printf/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_rand/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_rand/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_rand/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_rand/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_runtime/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_runtime/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_runtime/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_runtime/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_standard_link/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_standard_link/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_standard_link/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_standard_link/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_stdio/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_stdio/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_stdio/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_stdio/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_semihosting/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_semihosting/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_semihosting/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_semihosting/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_uart/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_uart/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_uart/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_uart/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_usb/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_usb/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_usb/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_stdio_usb/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_stdlib/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_stdlib/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_stdlib/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_stdlib/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/pico_unique_id/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_unique_id/Makefile
ports/rp2/pico-sdk/src/rp2_common/pico_unique_id/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/pico_unique_id/CMakeFiles/progress.marks
ports/rp2/pico-sdk/src/rp2_common/tinyusb/cmake_install.cmake
ports/rp2/pico-sdk/src/rp2_common/tinyusb/Makefile
ports/rp2/pico-sdk/src/rp2_common/tinyusb/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/src/rp2_common/tinyusb/CMakeFiles/progress.marks
ports/rp2/pico-sdk/tools/cmake_install.cmake
ports/rp2/pico-sdk/tools/Makefile
ports/rp2/pico-sdk/tools/CMakeFiles/CMakeDirectoryInformation.cmake
ports/rp2/pico-sdk/tools/CMakeFiles/progress.marks
